$black-font: #1e1e1e;
$white-font: #ffffff;

$fontS: 16px;
$fontM: 18px;
$fontL: 24px;
$fontXL: 32px;
$fontXL2: 40px;
$fontXL3: 56px;

$spaceXS: 8px;
$spaceS: 16px;
$spaceM: 24px;
$spaceL: 32px;
$spaceXL: 40px;
$spaceXL2: 48px;
$spaceXL3: 60px;

$black: #0a0b14;
$white: #ffffff;
$pink: #ffd4ff;
$soft-grey: #bcbcbc;
$dark-grey: #211626;
$primary500: #7855dc;
$secondary500: #3aaad9;
